[% META title = 'My Job Applications - Edit Job' %]
 
<h2>Edit job application</h2>

[%# Render the HTML::FormHandler Form %]
[% form.render %]
 
<p><a href = "[% c.uri(".showAll", ["applied","desc"]) %]">Show All</a></p> 
