[% META title = 'My Job Applications - Add New Job' %]
 
<h2>Add a new job application</h2>

[%# Render the HTML::FormHandler Form %]
[% form.render %]
 
<p><a href="[% c.uri(".showAll", ["applied","desc"]) %]">Show All</a></p> 
