[% META title = 'My Job Applications - Search Jobs' %]
 
<h2>Search job applications</h2>

[%# Render the HTML::FormHandler Form %]
[% form.render %]
 
<p><a href="[% c.uri_for(c.controller.action_for('showAll'), ['applied','desc']) %]">Show All</a></p> 
